.overview-browser-page{
  height: 100vh;
  .header{
    -webkit-app-region:drag;
    display: flex;

    >*{
      -webkit-app-region:no-drag;
    }

    .input{
      flex: 1;
    }
    .button{

    }
  }

  .content{
    height: 100%;
  }
}