.overview-browser-page{
  height: 100vh;
  .header{
    -webkit-app-region:drag;
    display: flex;

    >*{
      -webkit-app-region:no-drag;
    }

    .input{
      flex: 1;
    }
    .button{

    }
  }

  .slider{
    overflow: hidden;
    text-overflow: ellipsis;
    background-color: #fff;
    overflow-y: auto;
    &::-webkit-scrollbar{
      width: 6px;
      height: 6px;
    }
    &::-webkit-scrollbar-thumb{
      background-color: #c2c2c2;
      background-clip: padding-box;
      min-height: 28px;
    }
  }

  .content{
    height: 100%;
  }
}